[submodule "3dmap/lib/modules/rate"]
	path = 3dmap/lib/modules/rate
	url = https://github.com/pcubillos/rate
[submodule "3dmap/lib/modules/transit"]
	path = 3dmap/lib/modules/transit
	url = https://github.com/exosports/transit
