[General]
lmax     = 1
outdir   = testout
mkplots  = True
ncurves  = 3
ncpu     = 3
nsamples = 1000000
burnin   = 30000
leastsq  = lm

timefile = /home/ryan/ast/3dmap/code/synthlc/simple/time.txt
fluxfile = /home/ryan/ast/3dmap/code/synthlc/simple/flux.txt
ferrfile = /home/ryan/ast/3dmap/code/synthlc/simple/ferr.txt
wlfile   = /home/ryan/ast/3dmap/code/synthlc/simple/wl.txt

atmtype  = eq
atmfile  = eq.atm
nlayers  = 100
ptop     = -5
pbot     =  2
temp     = 1000

[Star]
# Mass in solar masses
m    = 1.0
# Radius in solar radii
r    = 1.0
# Rotational period in days
prot = 1.0 

[Planet]
# Mass in solar masses
m     =  0.001
# Radius in solar radii
r     =  0.1
# Orbital period in days
porb  =  1.0
# Rotational period in days
prot  =  1.0
# Long. of asc. node in deg
Omega =  0.0
# Eccentricity
ecc   =  0.0
# Inclination
inc   = 88.5
# Long of periastron in deg
w     = 90
# Time of transit in days
t0    =  0     